@import 'libs/bootstrap-reboot.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css");


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    max-width: 1440px;
}
.container {
    width: 1223px;
    margin: 0 auto;
}
@import 'blocks/btns';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/restarant';
@import 'blocks/work';
@import 'blocks/learn';
@import 'blocks/delicious';

.divider {
    width: 100%;
    height: 1px;
    background: #CACACA;
}

@import 'blocks/media';

