.footer {
    padding-top: 117px;
    &__wrapper {
        display: grid;
        grid-template: auto / 222px  175px  1fr;
        grid-auto-rows: auto;
        column-gap: 150px;
    }
    ul {
        margin-top: 40px;
        li {
            margin-bottom: 17px;
            list-style-type: none;
            a {
                @include fz18;
                text-decoration: none;
                
            }
        }
    } 
    &__menu-items {
     display: flex;
     flex-direction: column;
    }
    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #121212;
    } 
    &__available-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__available-item {
        display: flex;
        width: 254px;
        flex-direction: row;
        div {
            margin-right: 18px;
            width: 78px;
            height: 78px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        a {
            align-self: center;
            float: right;
        }
        
    }
    .divider {
        margin-top: 100px;
    }
    &__copyright {
        @include fz18;
        text-align: center;
        padding: 33px 0 33px 0;
        a, span {
            color: $main-color;
        }
    }
  
}