.learn {
    padding-top: 200px;
    &__title {
        @include subtitle;
        margin: 35px 0 0 0;
        width: 100%;
        text-align: left;
    }
    &__descr {
        @include fz12;
        margin-top: 16px;  
        width: 100%;
    }
    &__items {
        display: grid;
        grid-template: auto / 275px  275px;
        grid-auto-rows: auto;
        gap: 48px;
        margin-top: 33px;
    }
    &__item {
        width: 63px;
        height: 56px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__icon {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        
        &-head {
            margin-top: 24px;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #121212;
        }
        &-descr {
            margin-top: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: #656565;
        }
    }
    .container {
        display: grid;
        grid-template: auto / 1fr 1fr;
        grid-auto-rows: auto;
        justify-content: space-between;
    }
    &__wrapper-bg {
        position: relative;
        width: 100%;
    }
    &__bg {
        margin-left: auto;
        width: 472px;
        height: 684px;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__app {
        position: absolute;
        width: 280px;
        height: 570px;
        top: 66px;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    &__btns {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    &__btn {
        display: flex;
        width: 247px;
        height: 73px;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }
    &__btn:nth-child(2) {
        width: 205px;
        margin-left: 15px;
    }
}
