@media (max-width: 1240px) {
    .container {
        width: 952px;
    }

    .header {
        &__wrapper {
            grid-template-columns: 257px 385px 310px;
            
        }
    }
    .promo {
        &__bg {
            width: 495px;
        }
        &__subtitle {
            width: 475px;
            font-size: 50px;
        }
        &__descr {
            width: 475px;
        }
        &__btn {
            width: 217px
        }
        &__indicators {
            width: 475px;
            &__item_head {
                font-size: 40px;
                text-align: center;
            }
        }
        .divider {
            width: 455px;
        }
    }
    .restarant {
        &__icon {
            width: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .work {
        &__items {
            grid-template-columns: repeat(auto-fill, 300px);
            gap: 25px;
        }
    }
    .learn {
        .container {
            grid-template: auto / 475px 475px;
        }
        &__items {
            grid-template: auto / 220px 220px;
            gap: 30px;
        }
        &__bg {
            width: 80%;
        }
    }
    .delicious {
        &__title {
            width: 420px;
        }
        &__descr {
            width: 420px;
        }
        &__slide-item {
             width: 250px;
            
        }
    }
    .hussle {
        .container {
            grid-template: auto / repeat(auto-fill,  448px);
        }
        &__photo {
            &-wrapper2 {
                left: 130px;
            }
            &-wrapper2_mobile {
                left: -25px;
            }
        }
    }
    .reviews {
        &__comments {
            grid-template: auto / repeat(auto-fill, 299px);
        }
        &__title {
            width: auto;
            margin-right: 10px;
            text-align: left;
            font-size: 30px;
        }
    }
    .start {
        &__app {
            right: 395px;
        }
        &__title {
            width: 375px;
        }
        &__descr {
            width: 375px; 
        }
    }
    .footer {
        &__wrapper {
            grid-template: auto / 100px 175px 1fr;
            column-gap: 80px;
        }
    }
    
    
    
}

@media (max-width: 992px) {
    .container {
        width: 729px;
    }
    .header {
        min-height: 70px;
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 200px;
            grid-template-rows: 100%;
            grid-auto-rows: minmax(70px, 1fr);
            align-items: center;
            min-height: 70px;
        }
        &__btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                font-size: 12px;
            }
        }
        &__btn {
           padding: 10px 15px 10px 15px;
                &:nth-child(2) {
                     margin-left: 15px;
            }
          
        }
        .menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            transition: all .6s;
            &.active {
                visibility: visible;
                opacity: 1;
                left: 0;
            }
            &__block {
                position: relative;
                width: 345px;
                height: 100%;
                padding-top: 80px;
                padding-left: 40px;
                background: $main-color;
                transition: all .6s;
                z-index: 10;
            }
            &__close {
                display: block;
                position: absolute;
                top: 25px;
                right: 25px;
                cursor: pointer;
            }
            &__list {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                padding-left: 35px;
            }
            &__link {
                position: relative;
                margin-bottom: 25px;
                    a {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 36px;
                    }
                &:before {
                    content: '';
                    position: absolute;
                    left: -35px;
                    top: 10px;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #000000;
                    border-radius: 100%;
                    transition: all 1s;
                }
                &:hover {
                    &::before {
                        border-color: $main-color;
                    }
                }
                a {
                    color: #FFFFFF;
                    text-decoration: none;
                }
                &__overlay {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #FFFFFF;
                opacity: .75;
            }   } 
        }

        .hamburger {
            // position: absolute;
            // top: 20px;
            // right: 30px;
            height: 21px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            span {
                display: flex;
                width: 30px;
                height: 3px;
                background: #151812;
            }
            span.long {
                width: 36px;
            }
        
        }
    }  
    .promo {
        &__bg {
            width: 350px;
        }
        &__subtitle {
            width: 370px;
            font-size: 45px;
            line-height: 55px;
        }
        &__descr {
            width: 370px;
            line-height: 20px;
        }
        &__btn {
            width: 170px;
        }
        .divider {
            width: 370px; 
        }
        &__indicators {
            width: 370px;
            &__item_head  {
                font-size: 30px;
            }
        }
    }
    .learn {
        .container {
            grid-template: auto / 364px 364px;
        }
        &__items {
            grid-template: auto / 167px 167px;
            gap: 15px;
        }
    }
    .delicious {
       #vertica {
           display: none;
       }
       #vertical {
           margin-right: 0;
       }
    }
    .customers {
        &__wrapper-items {
            grid-template: auto / repeat(auto-fill, 300px);
            column-gap: 25px;
            
        }
    }
    .hussle {
        padding-top: 200px;
        .container {
            grid-template: auto / repeat(auto-fill,  448px);
            
        }
        &__title {
            margin-top: 0;
        }
    }
    .reviews {
        &__comments {
            grid-template: auto / repeat(auto-fill,340px);
            justify-content: space-between;
        }
    }
    .start {
        &__app:first-child {
            display: none;
        }
        &__title {
            width: 310px;
            font-size: 45px;
        }
        &__descr {
            width: 260px;
        }
    }

}

@media (max-width: 768px) {
    .container {
        width: 557px;
        margin: 0 auto;
    }
    .promo {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title {
            padding-top: 100px
        }
        &__bg {
            position: relative;
            width: 100%;
            height: 790px;
        }
        &__app {
            left: 7%;
        } 
        &__indicators {
            margin-bottom: 0;
        } 
    }
    .restarant {
        padding-top: 80px;
        &__icon {
            width: 125px;
        }
        .divider {
            margin-top: 60px;
        }
    }
    .learn {
        .container {
            grid-template-columns: repeat(auto-fill, 557px);
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        &__wrapper-bg {
            grid-row: 1 / 2;

        }
    }
    .delicious {
        margin-top: 200px;
        margin-bottom: 200px;
        &__wrapper-slider {
            position: relative;
        }
        #vertical {
            display: none;
        }
        #mobile-slider {
            display: block;
          }
        &__btns {
            padding-bottom: 200px;
        }
        &__title {
            padding-top: 200px;
        }
    } 
    .slider {
        display: none;
    }
    .reviews {
        padding-bottom: 40px;
        &__wrapper-head {
            flex-direction: column;
        }
        &__comments {
            grid-template: auto / repeat(auto-fill, 389px);
            justify-content: center;
        }
       
    }
    .start {
        &__title {
           padding-top: 650px;
        }
       
    }
    .download {
        &__wrapper {
            flex-direction: column;
        }
        &__btns {
            margin-top: 50px;
        }
    }
    .footer {
        &__wrapper {
            grid-template: auto / 50% 50%;
            justify-content: center;
            column-gap: 0;
        }
        &__available-wrapper {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }
    .header {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__btns {
            display: none;
        }
       
        .hamburger {
            justify-self: end;
        }

        .menu {
            &__block {
                width: 250px
            }
        }
    }
    .promo {
        &__bg{
            width: 100%;
            height: 320px;
        }
        &__app {
            display: none;
        }
        &__title {
            padding-top: 40px;
        }
        &__subtitle {
            margin-top: 20px;
            width: 300px;
            font-size: 30px;
            line-height: 40px;
        }
        &__descr {
            margin-top: 20px;
            margin-bottom: 0;
            width: 300px;
        }
        &__btns {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__btn {
            margin-top: 20px;
            margin-right: 0;
            width: 200px;
            height: 60px;
            line-height: 60px;
        }
        .divider {
            width: 100%;
            margin-top: 20px;
        }
        &__indicators {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 0;
            &__item_head {
                font-size: 25px;
                line-height: 45px;
            }
            &__item_descr {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .restarant {
        padding-top: 60px;
        &__descr {
            margin-bottom: 20px;
        }
        &__icons {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            width: 215px;
            margin-bottom: 40px;
        }
        .divider {
            margin-top: 0;
        }
    }
    .work {
        padding-top: 40px;
        &__subtitle {
            width: 300px;
            font-size: 30px;
            line-height: 40px;
            text-align: left;
        }
        &__descr {
            line-height: 20px;
        }
        &__items {
            margin-top: 20px;
        }
        &__item-head {
            margin-top: 20px;
        }
        &__btns {
            flex-direction: column;
            align-items: center;
        }
        &__btn:nth-child(2) {
            width: 247px;
            margin-top: 20px;
            margin-left: 0;
        }
        &__btn {
            margin-right: 0;
        }
        .divider {
            margin-top: 40px;
        }
    }
    .learn {
        padding-top: 40px;
        .container {
            grid-template-columns: repeat(auto-fill, 300px);
        }
        &__title {
            margin-top: 20px;
            font-size: 30px;
            line-height: 40px;
        }
        &__items {
            margin-top: 20px;
            grid-template-columns: repeat(auto-fill, 300px);
            gap: 25px;
        }
        &__icon {
           display: flex;
           flex-direction: column;
           justify-content: center; 
           align-items: center;
        }
        &__wrapper-bg {
            grid-row: 1 / 2;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btn:nth-child(2) {
            width: 247px;
            margin-top: 20px;
        }
    }

    
    .delicious {
        margin-top: 40px;
        margin-bottom: 40px;
        &__title {
            font-size: 30px;
            line-height: 40px;
            width: 300px;
        }
        &__descr {
            width: 300px;
        }
        &__slide-item {
             width: 270px;
             display: flex;
             justify-content: center;
            img {
                display: block;
                margin: 0 auto;
                object-fit: contain;
                width: 300px;
            }
            
        }
        &__wrapper-slider {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        #mobile-slider-mw {
            width: 300px;
        }
        &__btns {
            padding-bottom: 80px;
        }
    }
    .customers {
        &__subtitle {
            font-size: 30px;
            line-height: 40px;
        }
        &__wrapper-items {
            margin-top: 20px;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btn:nth-child(2) {
            width: 247px;
            margin-top: 20px;
        }
    }
    .hussle {
        padding-top: 40px;

        .container {
            grid-template: auto / repeat(auto-fill, 300px);
            row-gap: 80px;
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__photo {
            
            &-wrapper {
                width: 300px;
                left: 0;
                img {
                    object-fit: contain;
                }
            }
            &-wrapper2 {
                top: 280px;
                left: 57px;
                width: 250px;
                height: 250px;
            }
            &-wrapper2_mobile {
                left: -7px;
            }
        }
    }
    .reviews {
        padding-top: 40px;
        &__comments {
            grid-template: auto / repeat(auto-fill, 300px);
        }
        &__title {
            margin-top: 20px;
            font-size: 30px;
            line-height: 40px;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btn:nth-child(2) {
            width: 247px;
            margin-top: 20px;
            margin-left: 0;
        }
        &__btn {
            margin-right: 0;
        }
    }
    .start {
        &__title {
           font-size: 30px;
           line-height: 40px;
           width: auto;
        }
        &__descr {
            width: auto;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
       
    }
    .download {
        &__btns {
            flex-direction: column;
        }
        &__btn {
            width: 245px;
            height: 73px;
            justify-content: center;
            align-items: center;
            margin-right: 0;
        }
        &__btn:nth-child(2) {
            width: 245px;
            margin: 30px 0 0 0;
        }
        .divider {
            margin-top: 40px;
        }
    }
    .footer {
        padding-top: 40px;
        &__wrapper {
            grid-template: auto / auto;
            justify-content: center;
            column-gap: 0;
        }
        &__available-wrapper {
            grid-column-start: 1;
            grid-column-end: 2;
        }
      
    }
    
}   


   

    

 
    
